@import "_vars";
@import "_fonts";

.customers-container {
  min-width: 100%;
  height: 575px;
  background: #dfebe9;
  & > .customers-container__inner {
    max-width: @main-width;
    margin: 0 auto;
    height: inherit;
    & > .customers-container__heading-row,
    & > .customers-container__slider-row {
      max-width: @main-width;
    }
  }
}

.customers-container__heading {
  text-align: center;
  color: #3a3a3a;
  font-family: "Orbitron-Medium";
  & > h2 {
    margin: 58px 0;
    padding: 0 335px;
    font-size: 30px;
  }
}

//Rolling slider styles
