@import "_vars";
@import "_fonts";

.orderform-container {
  min-width: 100%;
  min-height: 664px;
  position: relative;
  background: #dfebe9;
  & > .orderform-container__secondary {
    min-width: inherit;
    height: 664px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    & > img {
      width: 100%;
      height: auto;
    }
  }
  & > .orderform-container-inner {
    max-width: @main-width;
    margin: 0 auto;
    min-height: inherit;
    & > .orderform-container-row {
      max-width: @main-width;
      min-height: inherit;
      padding-top: 128px;
      padding-bottom: 149px;
    }
  }
}

//Order form styles
div[class*="form-field"] label {
  font-family: "Muli-SemiBold";
  font-size: 14px;
  color: @main-black-color;
}
div[class*="form-field"] input {
  width: 100%;
  margin-bottom: 12px;
  background: #eff3f3;
  border: solid 1px #b1b1b1;
  border-radius: 1px;
  line-height: 38px;
  font-family: "Muli-Regular";
  font-size: 14px;
  padding: 0 9px;
  &:focus {
    outline-offset: 0;
    outline: none;
    border-color: @main-green-color3;
  }
}
.form-field__email label {
  padding-left: 5px;
}
#textArea {
  width: 100%;
  margin-bottom: 12px;
  background: #eff3f3;
  border: solid 1px #b1b1b1;
  border-radius: 1px;
  font-family: "Muli-Regular";
  font-size: 14px;
  padding: 14px 9px;
  &:focus {
    outline-offset: 0;
    outline: none;
    border-color: @main-green-color3;
  }
}
.form-field__number-pages label {
  white-space: nowrap;
}
#numberPages {
  width: 100%;
  height: 40px;
  background: #eff3f3;
  border: solid 1px #b1b1b1;
  border-radius: 1px;
  & > div {
    display: inline-block;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }
}
.number-pages__col1 {
  width: 40%;
  font-family: "Muli-SemiBold";
  overflow: hidden;
  &:before {
    display: inline-block;
    content: '';
    width: 0;
    height: inherit;
    font-size: 0;
    vertical-align: middle;
  }
  & > div {
    width: 90%;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
  }
}
.number-pages__col2 {
  width: 25%;
  font-family: "Muli-SemiBold";
  font-size: 18px;
  line-height: 38px;
}
.number-pages__col3 {
  width: 25%;
  &:before {
    display: inline-block;
    content: '';
    height: inherit;
    width: 0;
    font-size: 0;
    vertical-align: middle;
  }
  & > .number-pages__addbtn {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border: solid 1px @main-green-color3;
    border-radius: 1px;
    background: @main-green-color3;
    & > i {
      font-size: 18px;
      color: #eff3f3;
      line-height: 22px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
.form-field__upload {
  margin-bottom: 12px;
}
.form-field__upload label {
  width: 100%;
  height: 20px;
  margin-bottom: 0;
}
#uploadBtn {
  display: inline-block;
  width: 119px;
  height: 40px;
  border: solid 1px @main-green-color3;
  border-radius: 1px;
  background: @main-green-color3;
  font-family: "Orbitron-Black";
  font-size: 14px;
  color: #eff3f3;
  text-align: center;
  line-height: 38px;
  &:hover {
    text-decoration: none;
    transform: scale(1.01);
  }
}